@model inmobiliariaBaigorria.Models.Propietario
@{
    ViewData["Title"] = "Nuevo Propietario";
}

<div class="text-center">
    <h1 class="display-4">Nuevo Propietario</h1>
    <form action="" method="POST">
        <label for="fDni">DNI</label><br>
        <input type="text" id="fDni" name="Dni" required> <br>
        <label for="fNombre">Nombre</label><br>
        <input type="text" id="fNombre" name="Nombre" required> <br>
        <label for="fApellido">Apellido</label><br>
        <input type="text" id="fApellido" name="Apellido" required> <br>
        <label for="fDireccion">Direccion</label><br>
        <input type="text" id="fDireccion" name="Direccion" required> <br>
        <label for="fEmail">Email</label><br>
        <input type="email" id="fEmail" name="Email" required> <br>
        <label for="fTelefono">Telefono</label><br>
        <input type="text" id="fTelefono" name="Telefono" required> <br>
        <button>Guardar</button>
    </form>
</div>
