@model List<inmobiliariaBaigorria.Models.Propietario>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Listado de Propietarios (@Model.Count)</h1>
    <ul>
        @foreach(var p in Model){
        <li>@p.Nombre</li>
        }
        
    </ul>
</div>
