@model inmobiliariaBaigorria.Models.Inmueble

<h1>Crear</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                 @Html.DropDownListFor(x => x.Tipo, new List<SelectListItem>
                        {
                        new SelectListItem() {Text = "Seleccione un Tipo", Value = "" }, // Placeholder
                        new SelectListItem() {Text = "Departamento", Value="Departamento"},
                        new SelectListItem() {Text = "Casa", Value="Casa"},
                        new SelectListItem() {Text = "Local", Value="Local"},
                        new SelectListItem() {Text = "Deposito", Value="Deposito"}                       
                    }, htmlAttributes:new {@class="form-control"})
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uso" class="control-label"></label>
                 @Html.DropDownListFor(x => x.Uso, new List<SelectListItem>
                        {
                        new SelectListItem() {Text = "Seleccione un Uso", Value = "" }, // Placeholder
                        new SelectListItem() {Text = "Residencial", Value="Residencial"},
                        new SelectListItem() {Text = "Comercial", Value="Comercial"},
                        new SelectListItem() {Text = "Evento", Value="Eventto"},                        
                    }, htmlAttributes:new {@class="form-control"}) 
                <span asp-validation-for="Uso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="">Seleccione un Estado</option>
                    <option value="false">No Disponible</option>
                    <option value="true">Disponible</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Propietario</label>
                <select class = "form-control" name = "PropietarioId">
                     <option value="">Seleccione un Propietario</option>
                    @foreach(var item in ViewBag.Propietario)
                    {
                        <option value = "@item.Id">@(item.ToString())</option>
                    }
                </select>
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br>
    <a asp-action="Index">Volver a la Lista</a>
</div>

