@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inmobiliaria Baigorria e Hijas</h1>
</div>

<div class="text-left"> <!-- Mueve esto aquí para alinear los elementos a la izquierda -->
    <aside class="navegador">
        <ul>
            <li><a href="Propietarios">Propietario</a></li>
            <li><a href="Inquilinos">Inquilino</a></li>
            <li><a href="Inmuebles">Inmueble</a></li>
            <li><a href="Contratos">Contrato</a></li>
        </ul>
    </aside>
</div>


